<div class="col-md-12">
    <div class="card">
        <div class="card-header text-white bg-secondary" [@caption]="captionState" (click)="captionClick()">
            Pridėti naują kontaktą
        </div>
        <div class="card-body">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end d-none d-md-block">Vardas:</label>
                    <label for="" class="col-form-label d-block d-md-none">Vardas:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="name" [@inputFields]="inputState[0]" (focus)="inputFocus(0, true)" (blur)="inputFocus(0, false)">
                        <div class="helper-block" *ngIf="!contactForm.get('name')?.valid && contactForm.get('name')?.touched">
                            Vardas yra privalomas ir gali sudaryti nuo 2 iki 30 simbolių
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end d-none d-md-block">Pavardė:</label>
                    <label for="" class="col-form-label d-block d-md-none">Pavardė:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="surname" [@inputFields]="inputState[1]" (focus)="inputFocus(1, true)" (blur)="inputFocus(1, false)">
                        <div class="helper-block" *ngIf="!contactForm.get('surname')?.valid && contactForm.get('surname')?.touched">
                            Pavardė yra privaloma ir turi sudaryti nuo 2 iki 30 simbolių
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end d-none d-md-block">Pareigos:</label>
                    <label for="" class="col-form-label d-block d-md-none">Pareigos:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="position" [@inputFields]="inputState[2]" (focus)="inputFocus(2, true)" (blur)="inputFocus(2, false)">
                        <div class="helper-block" *ngIf="!contactForm.get('position')?.valid && contactForm.get('position')?.touched">
                            Įveskite pareigas
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end d-none d-md-block">Įmonė:</label>
                    <label for="" class="col-form-label d-block d-md-none">Įmonė:</label>
                    <div class="col-sm-9">
                        <select class="form-control" formControlName="company" [@inputFields]="inputState[3]" (focus)="inputFocus(3, true)" (blur)="inputFocus(3, false)">
                            <option *ngFor="let company of companies; let i=index" [value]="company.id">{{company.name}}</option>

                        </select>
                        <div class="helper-block" *ngIf="!contactForm.get('company')?.valid && contactForm.get('company')?.touched">
                            Pasirinkite įmonę
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end d-none d-md-block">Telefonas:</label>
                    <label for="" class="col-form-label d-block d-md-none">Telefonas:</label>
                    <div class="col-sm-9">
                        <div class="row" formArrayName="phones">
                            <div class="col-sm-12 mb-3" *ngFor="let phone of phones; let i=index" [@phoneInput]>
                                <input type="text" class="form-control" [formControlName]="i" [@inputFields]="inputState[4]" (focus)="inputFocus(4, true)" (blur)="inputFocus(4, false)">
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-success me-3" (click)="addPhone()">Pridėti telefoną</button>
                            <button type="button" class="btn btn-danger float-end" (click)="removePhone()">Pašalinti telefoną</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mb-3 row">
                    <div class="col-sm-2 offset-sm-2">
                        <button class="btn btn-primary" [disabled]="!contactForm.valid">Pridėti</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>